@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
* {
    scroll-behavior: smooth;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

section.homescreen {
    align-items: center;
    background-color: #24272e;
    height: 150vh;
}

section#croi {
    background-color: skyblue;
}

section#dan{
    background-color: teal;
}

section.homescreen > h1 {
    color: white;
    font-size:60px;
    text-align: center;
    padding-top: 30px;
}

section.homescreen > h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-bottom: 1000px;
    border: 2px solid white;
    width: 400px;
    margin:30px 10px 0 550px;
}

.imghomescreen {
    position: absolute;
    left: 8%;
}

.imghomescreen a {
    position: relative;
}

.imghomescreen a img{
    width: 250px;
    padding: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.imghomescreen a p {
    transition: ease-in;
    padding: 5px;
    transition-duration: 0.4s;
    position: relative;
    left:30%;
    width: 100px;
    border-radius: 10px;
    text-decoration: none;
    text-transform:uppercase;
    color: white;
    text-align: center;
}

.imghomescreen a p:hover {
    transition: ease-in;
    transition-duration: 0.4s;
    text-align: center;
    color: skyblue;
    background-color: rgba(0,0,0,.4);
}
.imghomescreen a ul {
    position: absolute;
    list-style: none;
    border: 2px solid rgba(36,39,46,.4);
    border-radius: 4px;
    top:18%;
    left:30%;
    min-width: 80px;
    min-height: 140px;
    display: none;
} 

.imghomescreen a ul li {
    font-size: 30px;
    color : skyblue;
    background-color: rgba(36,39,46,.4);
}
.rand1{
    display: flex;
    top: 20%;
}
#exceptie {
    width: 200px;
    left:12%;
}

::-webkit-scrollbar{
    display: none;
}

