@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
* {
    scroll-behavior: smooth;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

section.homescreen {
    align-items: center;
    background-color: #0c1231;
    z-index: 2;
    height: 190vh;
}

section#croi {
    background-color: #c23764;
}

section#dan{
    background-color: #1d2671;
}

section.homescreen > h1 {
    color: white;
    font-size:60px;
    text-align: center;
    padding-top: 30px;
}

section.homescreen > h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    width: 400px; 
    margin:30px 10px 50px 550px;
}

.imghomescreen {
    position: absolute;
    left: 8%;
}

.imghomescreen a {
    position: relative;
    transition: transform .3s;
}

.imghomescreen a img{
    width: 250px;
    padding: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imghomescreen a:hover {
    transform: scale(1.4);
}

.imghomescreen a:hover p {
    z-index: 1;
    background-color: rgba(255,255,255,.7);
    font-size:20px;
    color: black;
    font-weight: bold;
}

.imghomescreen a p {
    transition: ease-in;
    transition-duration: .2s;
    height: 190px;
    position: absolute;
    padding-top:80px;
    background-color: rgba(255,255,255,0);
    width: 190px;
    border-radius: 50%;
    text-decoration: none;
    text-transform:uppercase;
    color: transparent;
    text-align: center;
    top: 12%;
    left: 12%;
}

#exceptie1 {
    font-size: 17px;
}

.imghomescreen a ul {
    position: absolute;
    list-style: none;
    border: 2px solid rgba(36,39,46,.4);
    border-radius: 4px;
    top:18%;
    left:30%;
    min-width: 80px;
    min-height: 140px;
    display: none;
} 

.imghomescreen a ul li {
    font-size: 30px;
    color : skyblue;
    background-color: rgba(36,39,46,.4);
}
.rand1{
    display: flex;
    top: 20%;
}

::-webkit-scrollbar{
    display: none;
}

p.footer {
    bottom: 0;
    padding: 10px;
    position: fixed;
    left: 71%;
    background-color: rgba(0,0,0,.4);
    font-size: 15px;
    color: wheat;
    z-index: 1;
}

.active_area {
    width: 100px;
    height: 100vh;
    z-index: 1;
    position: relative;
}

.sageata {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid transparent;
    position: fixed;
    margin-left: 20px;
    top:40%;
    z-index: 1;
}
.active_area:hover .sageata {   
    border-left: 60px solid rgba(0,0,0,.4); 
}

.gradient1 {
    width: 100%;
    height: 200px;  
    background: linear-gradient(181deg, #0c1231 0% , #1d2671 100%);
}

.gradient2 {
    width: 100%;
    height: 200px;
    background: linear-gradient(181deg, #1d2671 0% , #c23764 100%);
}
